name = "stalk"
main = "src/index.ts"
compatibility_date = "2024-05-02"

[vars]
HIDDEN_ZONES = """
[
    {
        "name": "school",
        "radius": 2,
        "lat": 0,
        "lon": 0
    },
    {
        "name": "home",
        "radius": 4,
        "lat": 0,
        "lon": 0
    }
]"""

[[kv_namespaces]]
binding = "LOC_KV"
id = "CHANGE_ME"